html{
    box-sizing: border-box;
    height: 100%;

}
*
*::before,
*::after{
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;

}

body{
    align-items: center;
    background: linear-gradient(320deg, #c920a7, #3bbfd3, #c963c9);
    display: flex;
    font-family: 'Copperplate', fantasy;
    font-display: swap;
    height: inherit;
    justify-content: center;

}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;



}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: end;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.01);
    color: black;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;

}
.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.01);
    color: #fff;
    background: rgb(192, 9, 209);

}
.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}
.calc-button:hover{
    background-color: inherit;

}

.calc-button:active{
    background-color: #c963c9;

}

.double{
    flex-basis: 47%;
}
.triple{
    flex-basis: 70%;
}